<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>ShopMaster</title>
    </head>
    <body>
        <%- include('../../partials/nav.ejs') %>
        <h1>Welcome to ShopMaster</h1>
        <p>Your one-stop shop for all your needs!</p>
        
    </body>
</html>