<%- include('../../partials/header.ejs') %>


<section>
    <div class="container">
        <div class="alert alert-success text-center col-md-6 mx-auto" role="alert">
            Your purchase was successful!
        </div>
        <br>
        <div class="col-md-8 mx-auto text-center">
            <a href="/" class="btn btn-primary">Continue Shopping</a>
        </div>
    </div>
   
</section> 
<%- include('../../partials/footer.ejs') %> 