        <br><br>

        <footer class="container-fluid nav-color pt-3 pb-3 text-center " >
            <a class="text-decoration-none" href="#">
                &copy; 2026 ShopMaster. All rights reserved.
            </a>
        </footer>

            


        
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>